/* CSS RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.circle-img {
  border-radius: 50%;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

/* Margin-Bottom */

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}
/* ----------------- */

/* Margin-Top */

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}
/* ----------------- */

/* Margin-Right */

.m-rt-10 {
  margin-right: 10px;
}

.m-rt-20 {
  margin-right: 20px;
}

.m-rt-30 {
  margin-right: 30px;
}

.m-rt-40 {
  margin-right: 40px;
}
/* ----------------- */

/* TXT-Color */

.clr-wht {
  color: white;
}

.clr-gry {
  color: lightgrey;
}

/* ----------------- */

.wrapper {
  display: flex;

  flex-direction: column;
  height: 100vh;
}

.top-content {
  display: flex;
  justify-content: space-between;

  flex-grow: 1;
  overflow: auto;
}
/* SIDEBAR */

.side-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-height {
  height: 25px;
  width: 25px;
}

.download {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.divisor {
  border: 1px solid lightgrey;
  margin: 0 5px;
  display: none;
}

.user {
  height: 30px;
  width: 30px;
  padding: 5px;
  background-color: lightgrey;
  border-radius: 50%;
}

.sidebar {
  flex-basis: 250px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

.minilogo {
  height: 35px;
  width: 35px;
}

.sidebar-none {
  display: none;
}

.sidebar-top {
  background-color: rgb(0, 0, 0);
  /* border: 1px dashed white; */
}

.sidebar-mid {
  background-color: #000000;
  flex-grow: 1;
  /* border: 1px dashed white; */
}

.sidebar-bottom {
  background-color: #000000;
  /* border: 1px dashed white; */
}

.main-content {
  flex-grow: 1;
  overflow: auto;
  background-color: blue;
}

/* Navbar-Top */

.navbar-top {
  min-height: 100px;
  background-color: #080b12;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: right;
  align-items: center;
}

/* MAIN */

.upgrade {
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #080b12;
  border: 1px solid white;
  margin-right: 10px;
}

.upgrade:hover {
  transform: scale(1.1);
}

main {
  background-color: #141922;
  padding: 20px;
}

/* MAIN-LIST */

.music-discovery ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  gap: 10px;
}
.music-discovery a {
  text-decoration: none;
  color: lightgrey;
  font-weight: bolder;
}
h2 {
  color: white;
}

/* CARD-MAIN */

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  margin: 0 -1rem;
  margin-bottom: 30px;
}

.col {
  border: 1px solid dodgerblue;
  flex-basis: 50%;
  padding: 0 1rem;
}

.card {
  border: 1px solid goldenrod;
  min-height: 100px;
  margin-bottom: 10px;
}

h4 {
  color: white;
}

.song-type {
  text-align: center;
}

.song-type p {
  color: lightgrey;
}

/* CARD-Foryou */

.row-foryou {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  margin: 0 -1rem;
  margin-bottom: 30px;
}

.col-foryou {
  border: 1px solid dodgerblue;
  flex-basis: 50%;
  padding: 0 1rem;
}

.card-foryou {
  border: 1px solid goldenrod;
  min-height: 100px;
  margin-bottom: 10px;
}

/* ----------------------- */

/* Footer */

footer {
  flex-shrink: 0;
  height: 120px;
  background-color: #282828;
  display: flex;
  align-items: center;
  padding: 20px;
}

.footer-content {
  height: 100%;
  width: 100%;
  display: flex;
  /* border: 1px solid white; */
}

/* Footer-Left */

.footer-left {
  /* flex-basis: 30%; */
  flex-shrink: 0;
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
}

.f-img {
  flex-basis: 30%;
  padding-right: 5px;
}

.f-song {
  flex-basis: 40%;
  text-align: center;
}

.f-favourite {
  flex-basis: 30%;
}

.f-favourite .fa-regular {
  color: lightgrey;
  display: block;
  margin-right: 0;
  text-align: center;
}

/* Footer-Mid */

.footer-mid {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; */

  flex-grow: 1;
  /* border: 1px solid white; */
  padding: 15px;
}

.img-footer {
  max-height: 50px;
}

.mid-top .fa-regular,
.fa-solid {
  color: lightgrey;
}

.mid-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fa-circle-play {
  font-size: 1.8rem;
}

.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress-bar {
  height: 5px;
  background-color: grey;
  width: 100%;
  border-radius: 20px;
  margin: 0 20px;
}

.current-progress {
  height: 5px;
  /* background-color: white; */
  width: 50px;
  border-radius: 20px;
}
/* Footer-Right */

.footer-right {
  flex-shrink: 0;
  /* border: 1px solid white; */

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress-bar-right {
  height: 5px;
  background-color: grey;
  max-width: 100%;
  width: 50px;
  border-radius: 20px;
  margin: 0 20px;
}

.current-progress-right {
  height: 5px;
  background-color: white;
  width: 10px;
  border-radius: 20px;
}
/* .icon-container {
  margin: 0 10px;
}
.icon-container .fa-solid {
  margin: 0 10px;
} */
